<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Item Query
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="search">
    <form (ngSubmit)="submit()">
      <ion-item>
        <ion-label>Search for items</ion-label>
        <ion-input type="text" [(ngModel)]="search" name="search"></ion-input>
      </ion-item>
        <button ion-button type="submit" block>Search</button>
    </form>
  </div>

  <div *ngIf = "directions.length > 0" class="directions">
    {{items[0].color}} {{items[0].material}} {{items[0].category}} <br>
    {{items[0].price}}
    <div *ngFor = "let step of directions">
      {{step}}
    </div>
  </div>

</ion-content>
